:root{
    --site_primary_clr: #744fa0;
    --site_secondary_clr: #353535;
    --site_social_clr: #1da1f2;
    --site_light_clr: #f1f1f1;
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

.container{
    width: 1170px;
    margin: 0 auto;
}



/* header starts */
header{
    width: 100%;
}

nav{
    width: 100%;
    padding: 30px 0;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.site-logo-container{
    width: 20%;
}
.site-logo-container > img{
    text-align: left;
    display: block;
}
.site-menu-container{
    width: 80%;
}
.site-menu-container > ul{
    list-style: none;
    text-align: right;
}
.site-menu-container > ul > li{
    display: inline-block;
    padding: 20px 0 20px 25px;
    position: relative;
}
.site-menu-container > ul > li::after{
    display: none;
    content: '';
    position: absolute;
    background-color: var(--site_primary_clr);
    width: 25px;
    height: 5px;
    bottom: 10px;
}
.site-menu-container > ul > li:hover::after{
    display: block;
}
.site-menu-container > ul > li> a{
    text-decoration: none;
    color: var(--site_light_clr);
    text-transform: capitalize;
    font-size: 14px;
}
.site-menu-container > ul > li:hover > a{
    color: var(--site_primary_clr);
}
.site-menu-container > ul > li:last-child{
    padding: 5px 25px;
    background-color: var(--site_primary_clr);
    margin-left: 20px;
    border-radius: 5px;
    font-weight: 700;
}

.site-menu-container > ul > li:last-child:hover{
    background-color: var(--site_light_clr);
}

.site-menu-container > ul > li:last-child::after{
    display: none;
}

.header-overlay{
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}


.banner-content{
    width: 100%;
    padding: 100px 0;
}
.banner-content-holder{
    width: 100%;
    text-align: right;
    color: var(--site_light_clr);
}
.banner-content-holder > h1{
    text-transform: uppercase;
    font-size: 56px;
    font-weight: 500;
}
.banner-content-holder > h1::first-letter{
    color: var(--site_primary_clr);
}
.banner-content-holder > h3{
    text-transform: capitalize;
    font-weight: 300;
    padding: 25px 0;
    font-size: 2rem;
}
.banner-content-divider{
    display: inline-block;
    width: 25%;
    margin: 0 0 0 auto;
    height: 5px;
    background-color: var(--site_light_clr);

}
.banner-content-holder > p{
    width: 50%;
    margin: 0 0 0 auto;
    padding: 25px 0 60px 0;
    font-size: 14px;
}
.banner-content-holder > a{
    display: inline-block;
    background-color: var(--site_light_clr);
    padding: 10px 30px 10px 60px;
    border-radius: 5%;
    position: relative;
    text-decoration: none;
    text-align: left;
    margin-left: 10px;
}
.banner-content-holder > a:hover{
    background-color: var(--site_primary_clr);
}
.banner-content-holder > a > span:nth-child(1){
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}
.banner-content-holder > a > span:nth-child(1) img:nth-child(1),
.banner-content-holder > a:hover > span:nth-child(1) img:nth-child(2){
    display: inline;
}
.banner-content-holder > a > span:nth-child(1) img:nth-child(2),
.banner-content-holder > a:hover > span:nth-child(1) img:nth-child(1){
    display: none;
}

.banner-content-holder > a > span:nth-child(2),
.banner-content-holder > a > span:nth-child(3){
    color: var(--site_secondary_clr);
    font-size: 14px;
    display: block;
}
.banner-content-holder > a:hover > span:nth-child(2),
.banner-content-holder > a:hover > span:nth-child(3){
    color: var(--site_light_clr);
}
.banner-content-holder > a > span:nth-child(3){
    font-size: 18px;
    padding-top: 10px;
    text-transform: capitalize;
}

/* header ends */



/* section header starts */
.section-header{
    width: 100%;
}
.section-name{
    width: 100%;
    text-align: center;
    color: var(--site_secondary_clr);
    font-size: 24px;
    font-weight: 500;
    text-transform:uppercase;
    padding: 15px 0;
}
.section-icon{
    width: 125px;
    margin: 0 auto;
    text-align: center;
    padding: 0;
    position: relative;
}
.section-icon > .left-wing{
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 45px;
    height: 2px;
    background-color: var(--site_secondary_clr);
    padding: 0;
    transform: translateY(-50%);
}
.section-icon > .left-wing::after{
    content: '';
    display: block;
    position: absolute;
    top: calc(50% - 3px);
    left: 10px;
    width: 35px;
    height: 2px;
    background-color: var(--site_secondary_clr);
    padding: 0;
    transform: translateY(-50%);
}
.section-icon > .right-wing{
    display: block;
    width: 45px;
    height: 2px;
    background-color: var(--site_secondary_clr);
    padding: 0;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
.section-icon > .right-wing::after{
    content: '';
    display: block;
    position: absolute;
    top: calc(50% - 3px);
    right: 10px;
    width: 35px;
    height: 2px;
    background-color: var(--site_secondary_clr);
    padding: 0;
    transform: translateY(-50%);
}
/* section header ends */


/* about us section starts */
#about-us{
    width: 100%;
    padding: 80px 0;
}
.about-us-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.about-us-left-portion{
    width: 50%;
    box-sizing: border-box;
    padding: 0 60px;
    text-align: center;
}
.about-us-left-portion > p{
    color: var(--site_secondary_clr);
    font-size: 14px;
    padding: 15px 0;
    letter-spacing: 2px;
    /* line-height: 16px; */
}
.about-us-right-portion{
    width: 50%;
    text-align: right;
}
/* about us section ends */



/* features starts */
#features{
    padding: 15px 0 30px 0;
    background-color: var(--site_light_clr);
}
.features-content{
    width: 100%;
    padding-top: 30px;
}
.feature-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.feature-left-portion{
    width: 370px;
}


a.feature-item{
    display: block;
    width: 270px;
    text-decoration: none;
    color: var(--site_secondary_clr);
    padding: 0 0 0 60px;
    position: relative;
    margin-bottom: 60px;
}
a.feature-item::after{
    content: '';
    display: block;
    height: 2px;
    width: 100%;
    background-color: var(--site_secondary_clr);
    position: absolute;
    left: 0;
    bottom: -30px;
}

a.feature-item:hover::after{
    background-color: var(--site_primary_clr);
    transition: 1000ms;
    width: 370px;
}
.feature-item-img-holder{
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.feature-item-img-holder > img:nth-child(1),
a.feature-item:hover .feature-item-img-holder > img:nth-child(2){
    display: block;
}
.feature-item-img-holder > img:nth-child(2),
a.feature-item:hover .feature-item-img-holder > img:nth-child(1){
    display: none;
}

a.feature-item > span:nth-child(2){
    display: block;
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    padding-bottom: 12px;
}
a.feature-item > span:nth-child(3){
    display: block;
    font-size: 14px;
    font-weight: 300;
}
a.feature-item:hover > span:nth-child(2),
a.feature-item:hover > span:nth-child(3){
    color: var(--site_primary_clr);
}

a.feature-item:nth-child(5):after{
    display: none;
}



.feature-middle-portion{
    width: 370px;
    text-align: center;
}
.feature-right-portion{
    width: 370px;
    padding: 80px 0 0 0;
    text-align: right;
}
.feature-right-portion > h3{
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    padding-bottom: 30px;
}
.feature-right-portion > p{
    font-size: 14px;
    font-weight: 300;
    padding-bottom: 30px;
}

/* features ends */


/* screenshots starts */
#screenshots{
    width: 100%;
    padding: 80px 0;
}
.ss-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}
.ss-holder{
    width: 210;
    height: 342px;
}
/* screenshots ends */




/* video starts */
#video{
    width: 100%;
}
.video-holder{
    width: 100%;
    position: relative;
    height: 500px;
    margin-top: 30px;
}
.video-holder::after{
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}
a.play-btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}
/* video ends */




/* price plan starts */
#price-plan{
    padding: 80px 0;
}
.price-container{
    padding: 30px 0 0 0;
}
.price-items-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.price-plan-item{
    width: 270px;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    border: 1px solid var(--site_light_clr);
}
.price-plan-item > h3{
    width: 100%;
    padding: 15px 0;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: var(--site_light_clr);
}
.price-plan-item:hover > h3{
    background-color: var(--site_primary_clr);
    color: var(--site_light_clr);
}
.price-box-container{
    width: 100%;
    padding: 20px 0;
    text-align: center;
}
.price-box{
    display: inline-block;
    border-radius: 50%;
    border: 5px solid var(--site_light_clr);
    padding: 30px 30px;
}
.price-box > span:nth-child(1){
    font-size: 24px;
    font-weight: 700;

}
.price-box > span:nth-child(2){
    font-size: 14px;
    font-weight: 500;
    
}
.price-box > span:nth-child(3){
    font-size: 14px;
    font-weight: 500;
    display: block;
    text-transform: capitalize;
}

.price-description{
    padding: 30px 0;
    text-align: center;
    background-color: var(--site_light_clr);
}
.price-description > span{
    display: block;
    padding-bottom: 15px;
    color: var(--site_secondary_clr);
    font-size: 14px;
}
.price-link{
    display: inline-block;
    border-radius: 5px;
    text-decoration: none;
    color: #353535;
    padding: 10px 20px;
    border: 1px solid var(--site_secondary_clr);
    text-transform: capitalize;
    margin-top: -20px;
    background-color: #fff;
}

.price-plan-item:hover > .price-link{
    background-color: var(--site_primary_clr);
    border: 1px solid var(--site_primary_clr);
    color: var(--site_light_clr);
}
/* price plan ends */



/*  team starts */
#team{
    padding-bottom: 80px;
    width: 100%;
}
#team > .team-content{
    padding: 30px 0;
    height: 560px;
}
.team-members-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}





.team-member{
    width: 370px;
    
    overflow: hidden;
    border-radius: 5px;
    height: 540px;
    position: relative;
}
.team-member-img-holder{
    width: 370px;
    height: 370px;
    position: absolute;
    top: 90px;
    z-index: 1000;
}

.team-member:hover > .team-member-img-holder{
    transition-duration: 1s;
    top: 0px;
}




.team-member-inner-img-holder{
    height: 100%;
    width: 100%;
    position: relative;
    background-color: red;
}
.team-member-img-holder > img{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1500;
}
.social-icon-holder{
    transform: scale(0);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2000;
}
.team-member:hover .social-icon-holder{
    transform: scale(1);
    transition: 1s;
}
.social-icon-outer-holder{
    width: 100%;
    height: 100%;
    position: relative;
}
.social-icon-inner-holder{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.team-link-social-icon{
    padding: 15px 15px;
    background-color: var(--site_light_clr);
    border-radius: 50%;
    margin: 0 2px;
    color: var(--site_secondary_clr);
    font-size: 18px;
}
.team-link-social-icon:hover{
    background-color: var(--site_social_clr);
    color: var(--site_light_clr);
}
.social-icon-inner-holder > a:nth-child(1) > .team-link-social-icon{
    padding: 15px 20px;
}

.team-member-description{
    padding: 30px 0;
    text-align: center;
    position: absolute;
    bottom: 100px;
    z-index: 100;
    border-bottom: 2px solid var(--site_light_clr);
    border-left: 2px solid var(--site_light_clr);
    border-right: 2px solid var(--site_light_clr);
}
.team-member:hover > .team-member-description{
    transition-duration: 1s;
    bottom: 0px;
}
.team-member-description > h3{
    color: var(--site_secondary_clr);
    font-size: 18px;
}
.team-member-description > h4{
    color: var(--site_secondary_clr);
    font-size: 14px;
    font-weight: 300;
    padding: 20px 0;
}
.team-member-description > p{
    color: var(--site_secondary_clr);
    font-size: 14px;
    font-weight: 300;
    box-sizing: border-box;
    width: 100%;
    padding: 0 50px;
}

/*  team ends */





/* user feedback starts */
#feedbacks{
    width: 100%;
}

.feedback-content{
    width: 100%;
    padding: 30px 0;
    position: relative;
}
.feedback-content::after{
    content: '';
    display: block;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}
.user-feedback-box{
    position: relative;
    width: 50%;
    margin: 0 auto;
    background-color: var(--site_light_clr);
    text-align: center;
    position: relative;
    z-index: 1000;
    border-radius: 5px;
}
.user-feedback-box > p{
    width: 100%;
    padding: 30px 90px;
    box-sizing: border-box;
}
.user-feedback-box > span{
    display: inline-block;
    padding-bottom: 10px;
}
.user-feedback-box > h3{
    font-size: 18px;
    color: var(--site_secondary_clr);
    font-weight: 500;
    padding-bottom: 10px;
}
.user-feedback-box > h4{
    font-size: 14px;
    color: var(--site_secondary_clr);
    font-weight: 300;
    padding-bottom: 20px;
}
.feedback-star-icon{
    color: var(--site_primary_clr);
}
.user-feedback-inner-box{
    height: 25px;
    width: 25px;
    background-color: var(--site_light_clr);
    position: absolute;
    bottom: -12.5px;
    left: calc(50% - 15px);
    transform: rotate(45deg);
}

.user-list{
    width: 400px;
    margin: 0 auto;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1000;
}
.user{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    
}

/* user feedback ends */





/* contact starts */

#contact{
    width: 100%;
    padding: 80px 0;
} 

#contact form{
    width: 100%;
    padding: 30px 0;
}

.form-inline-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}
.form-inline-box-field{
    width: 370px;
    font-size: 18px;
    padding: 10px 5px;
    outline: var(--site_secondary_clr);
}

#contact form .message{
    width: 100%;
    font-size: 18px;
    padding: 10px 5px;
    outline: var(--site_secondary_clr);
}
.form-btn{
    padding: 10px 20px;
    background-color: var(--site_primary_clr);
    display: block;
    margin: 10px auto 10px auto;
    border: none;
    border-radius: 5px;
    color: var(--site_light_clr);
    font-size: 18px;
    text-transform: capitalize;
}
/* contact ends */


/* footer starts */
footer{
    padding: 40px 0;
    background-color: var(--site_secondary_clr);
    text-align: center;
}
footer > span{
    display: block;
    padding: 10px 0;
}
footer > span > a{
    text-decoration: none;
}
.footer-social-icon{
    padding: 15px 15px;
    background-color: var(--site_light_clr);
    border-radius: 50%;
    margin: 0 3px;
    font-size: 18px;
    color: var(--site_secondary_clr);
}
footer > span > a:nth-child(1) > .footer-social-icon{
    padding: 15px 20px;
}
footer > p{
    text-transform: capitalize;
    color: var(--site_light_clr);
    padding-top: 10px;
}
footer > p > span:nth-child(2){
    text-transform: uppercase;
    color: var(--site_primary_clr);
}
/* footer ends */