:root{
    --site_primary_clr: #744fa0;
    --site_secondary_clr: #353535;
    --site_social_clr: #1da1f2;
    --site_light_clr: #f1f1f1;
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

.container{
    width: 1170px;
    margin: 0 auto;
}



/* header starts */
header{
    width: 100%;
}

nav{
    width: 100%;
    padding: 30px 0;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.site-logo-container{
    width: 20%;
}
.site-logo-container > img{
    text-align: left;
    display: block;
}
.site-menu-container{
    width: 80%;
}
.site-menu-container > ul{
    list-style: none;
    text-align: right;
}
.site-menu-container > ul > li{
    display: inline-block;
    padding: 20px 0 20px 25px;
    position: relative;
}
.site-menu-container > ul > li::after{
    display: none;
    content: '';
    position: absolute;
    background-color: var(--site_primary_clr);
    width: 25px;
    height: 5px;
    bottom: 10px;
}
.site-menu-container > ul > li:hover::after{
    display: block;
}
.site-menu-container > ul > li> a{
    text-decoration: none;
    color: var(--site_light_clr);
    text-transform: capitalize;
    font-size: 14px;
}
.site-menu-container > ul > li:hover > a{
    color: var(--site_primary_clr);
}
.site-menu-container > ul > li:last-child{
    padding: 5px 25px;
    background-color: var(--site_primary_clr);
    margin-left: 20px;
    border-radius: 5px;
    font-weight: 700;
}

.site-menu-container > ul > li:last-child:hover{
    background-color: var(--site_light_clr);
}

.site-menu-container > ul > li:last-child::after{
    display: none;
}

.header-overlay{
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}


.banner-content{
    width: 100%;
    padding: 100px 0;
}
.banner-content-holder{
    width: 100%;
    text-align: right;
    color: var(--site_light_clr);
}
.banner-content-holder > h1{
    text-transform: uppercase;
    font-size: 56px;
    font-weight: 500;
}
.banner-content-holder > h1::first-letter{
    color: var(--site_primary_clr);
}
.banner-content-holder > h3{
    text-transform: capitalize;
    font-weight: 300;
    padding: 25px 0;
    font-size: 2rem;
}
.banner-content-divider{
    display: inline-block;
    width: 25%;
    margin: 0 0 0 auto;
    height: 5px;
    background-color: var(--site_light_clr);

}
.banner-content-holder > p{
    width: 50%;
    margin: 0 0 0 auto;
    padding: 25px 0 60px 0;
    font-size: 14px;
}
.banner-content-holder > a{
    display: inline-block;
    background-color: var(--site_light_clr);
    padding: 10px 30px 10px 60px;
    border-radius: 5%;
    position: relative;
    text-decoration: none;
    text-align: left;
    margin-left: 10px;
}
.banner-content-holder > a:hover{
    background-color: var(--site_primary_clr);
}
.banner-content-holder > a > span:nth-child(1){
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}
.banner-content-holder > a > span:nth-child(1) img:nth-child(1),
.banner-content-holder > a:hover > span:nth-child(1) img:nth-child(2){
    display: inline;
}
.banner-content-holder > a > span:nth-child(1) img:nth-child(2),
.banner-content-holder > a:hover > span:nth-child(1) img:nth-child(1){
    display: none;
}

.banner-content-holder > a > span:nth-child(2),
.banner-content-holder > a > span:nth-child(3){
    color: var(--site_secondary_clr);
    font-size: 14px;
    display: block;
}
.banner-content-holder > a:hover > span:nth-child(2),
.banner-content-holder > a:hover > span:nth-child(3){
    color: var(--site_light_clr);
}
.banner-content-holder > a > span:nth-child(3){
    font-size: 18px;
    padding-top: 10px;
    text-transform: capitalize;
}

/* header ends */



/* section header starts */
.section-header{
    width: 100%;
}
.section-name{
    width: 100%;
    text-align: center;
    color: var(--site_secondary_clr);
    font-size: 24px;
    font-weight: 500;
    text-transform:uppercase;
    padding: 15px 0;
}
.section-icon{
    width: 125px;
    margin: 0 auto;
    text-align: center;
    padding: 0;
    position: relative;
}
.section-icon > .left-wing{
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 45px;
    height: 2px;
    background-color: var(--site_secondary_clr);
    padding: 0;
    transform: translateY(-50%);
}
.section-icon > .left-wing::after{
    content: '';
    display: block;
    position: absolute;
    top: calc(50% - 3px);
    left: 10px;
    width: 35px;
    height: 2px;
    background-color: var(--site_secondary_clr);
    padding: 0;
    transform: translateY(-50%);
}
.section-icon > .right-wing{
    display: block;
    width: 45px;
    height: 2px;
    background-color: var(--site_secondary_clr);
    padding: 0;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
.section-icon > .right-wing::after{
    content: '';
    display: block;
    position: absolute;
    top: calc(50% - 3px);
    right: 10px;
    width: 35px;
    height: 2px;
    background-color: var(--site_secondary_clr);
    padding: 0;
    transform: translateY(-50%);
}
/* section header ends */


/* about us section starts */
#about-us{
    width: 100%;
    padding: 80px 0;
}
.about-us-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.about-us-left-portion{
    width: 50%;
    box-sizing: border-box;
    padding: 0 60px;
    text-align: center;
}
.about-us-left-portion > p{
    color: var(--site_secondary_clr);
    font-size: 14px;
    padding: 15px 0;
    letter-spacing: 2px;
    /* line-height: 16px; */
}
.about-us-right-portion{
    width: 50%;
    text-align: right;
}
/* about us section ends */



/* features starts */
#features{
    padding: 15px 0 30px 0;
    background-color: var(--site_light_clr);
}
.features-content{
    width: 100%;
    padding-top: 30px;
}
.feature-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.feature-left-portion{
    width: 370px;
}


a.feature-item{
    display: block;
    width: 270px;
    text-decoration: none;
    color: var(--site_secondary_clr);
    padding: 0 0 0 60px;
    position: relative;
    margin-bottom: 60px;
}
a.feature-item::after{
    content: '';
    display: block;
    height: 2px;
    width: 100%;
    background-color: var(--site_secondary_clr);
    position: absolute;
    left: 0;
    bottom: -30px;
}

a.feature-item:hover::after{
    background-color: var(--site_primary_clr);
    transition: 1000ms;
    width: 370px;
}
.feature-item-img-holder{
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.feature-item-img-holder > img:nth-child(1),
a.feature-item:hover .feature-item-img-holder > img:nth-child(2){
    display: block;
}
.feature-item-img-holder > img:nth-child(2),
a.feature-item:hover .feature-item-img-holder > img:nth-child(1){
    display: none;
}

a.feature-item > span:nth-child(2){
    display: block;
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    padding-bottom: 12px;
}
a.feature-item > span:nth-child(3){
    display: block;
    font-size: 14px;
    font-weight: 300;
}
a.feature-item:hover > span:nth-child(2),
a.feature-item:hover > span:nth-child(3){
    color: var(--site_primary_clr);
}

a.feature-item:nth-child(5):after{
    display: none;
}



.feature-middle-portion{
    width: 370px;
    text-align: center;
}
.feature-right-portion{
    width: 370px;
    padding: 80px 0 0 0;
    text-align: right;
}
.feature-right-portion > h3{
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    padding-bottom: 30px;
}
.feature-right-portion > p{
    font-size: 14px;
    font-weight: 300;
    padding-bottom: 30px;
}

/* features ends */



#screenshots{
    width: 100%;
    padding: 80px 0;
}
.ss-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}
.ss-holder{
    width: 210;
    height: 342px;
}
